In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('Chinook.sqlite')

##### 1. Select customers that are NOT from the USA

Select the First Name, Last Name, and Country of customers that are NOT from the `USA`. It should look something like:

   FirstName     LastName         Country
0       Luís    Gonçalves          Brazil
1     Leonie       Köhler         Germany
2   François     Tremblay          Canada
3      Bjørn       Hansen          Norway
4  František  Wichterlová  Czech Republic

In [ ]:
QUERY_1 = """
--- your query
"""

Try it yourself:

In [ ]:
pd.read_sql(QUERY_1, conn).head()

Solution:

In [3]:
QUERY_1 = """
SELECT c.FirstName, c.LastName, c.Country
from Customer c
WHERE c.Country <> "USA"
"""