### Basic SQL with Sakila

### 1. Basic `SELECT`

##### 1. Select the the columns `first_name`, `last_name` and `email` from the table customers

Write a query to select the columns `first_name`, `last_name` and `email` from the table `customers`. Your result should look something like:

<img src="images/actiivty-1-customers.png" width="300px">

In [ ]:
# your query

Solution:

```sql
SELECT first_name, last_name, email FROM `customer`;
```

##### 2. Add the aliases `First Name`, `Last Name` and `Email` to your previous query

Modify your previous query to add the aliases `First Name`, `Last Name` and `Email`. Your result should look something like:

<img src="images/activity-2-aliases.png" width="300px">

Solution:

```sql
SELECT first_name as "First Name", last_name as "Last Name", email as Email FROM `customer`;
```

### Basic Filtering with `WHERE`

##### 3. What's the email of customer number 135?

> **Note for Project Authors**: This is an example of a multiple choice question.

- [ ] MARY.SMITH@sakilacustomer.org
- [ ] PETER.WALKER@sakilacustomer.org
- [ ] JESSICA.THOMSON@sakilacustomer.org
- [x] JUANITA.MASON@sakilacustomer.org (correct)

Solution:

The answer is `JUANITA.MASON@sakilacustomer.org`. We can get this by filtering the `customer_id` column being equal to `135`:

```sql
SELECT
   email
FROM
   sakila.customer
WHERE
   customer_id = 135;
```

##### 5. Checking for null values.

Write a SQL query that selects the columns `payment_id` and `customer_id` from the table payment where the `rental_id` column is empty.

In [ ]:
QUERY_5 = """
-- Insert your query code
"""

Check if your query works:

In [ ]:
pd.read_sql(QUERY_5, conn)

Solution:

In [ ]:
SELECT payment_id, customer_id
FROM sakila.payment
WHERE rental_id IS NULL;

Assertions:

In [ ]:
cursor = conn.cursor()
cursor.execute(QUERY_5)
student_output = cursor.fetchall()

EXPECTED_QUERY_5 = """
SELECT payment_id, customer_id
FROM sakila.payment
WHERE rental_id IS NULL;"""

cursor = conn.cursor()
cursor.execute(EXPECTED_QUERY_5)
expected_output = cursor.fetchall()

assert student_output == expected_output, "Your query doesn't match"